@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-light.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-regular.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-semibold.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-bold.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #0090ff;
  color: #fff; }

::selection {
  background-color: #0090ff;
  color: #fff; }

input, textarea {
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 24px;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0; }

a {
  text-decoration: none;
  color: currentColor; }
  a:active {
    outline: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background-image: url("../images/src/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  background-position: center 0;
  height: 100vh;
  overflow: hidden; }

.fancybox-active {
  height: 100vh !important; }

.preview-site {
  position: relative; }
  .preview-site::before {
    content: '';
    background-image: url("../images/logo.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center 42%;
    z-index: -1;
    background-repeat: no-repeat; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container {
      max-width: 960px; } }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 720px; } }

.hover-accent {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .hover-accent:hover {
    color: #0090ff; }

.t-header {
  border-bottom: 1px solid #0090ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  margin-bottom: 22px;
  font-weight: bold; }
  .t-header__logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 196px; }
  .t-header__logo-img {
    width: 100%; }
  .t-header__info-server {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__status-text {
    color: #0090ff; }
  .t-header__online-text {
    color: #0090ff; }
  .t-header__info-fraction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__info-item {
    margin-right: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .t-header__info-item:last-child {
      margin-right: 0; }
  .t-header__blue-text {
    color: #1ebfef;
    font-weight: bold; }
  .t-header__red-text {
    font-weight: bold;
    color: #ee7d53; }
  .t-header__langs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__langs-item {
    margin-right: 20px; }
    .t-header__langs-item .active {
      color: #0090ff; }
    .t-header__langs-item:last-child {
      margin-right: 0; }

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .b-header__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .b-header__socials-item {
    margin-right: 10px; }
    .b-header__socials-item:last-child {
      margin-right: 0; }
  .b-header__socials-link {
    border: 2px solid #ffffff;
    width: 31px;
    height: 31px;
    display: block;
    padding: 0 6px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .b-header__socials-link svg {
      height: 100%;
      width: 100%;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    .b-header__socials-link:hover {
      border: 2px solid #0090ff; }
      .b-header__socials-link:hover svg {
        fill: #0090ff; }
  .b-header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .b-header__link {
    margin-right: 24px;
    font-weight: bold;
    text-transform: uppercase;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .b-header__link:last-child {
      margin-right: 0; }

main {
  height: 900px; }

.footer {
  margin-right: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(23%, black), to(rgba(0, 212, 255, 0)));
  background: -o-linear-gradient(bottom, black 23%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(0deg, black 23%, rgba(0, 212, 255, 0) 100%);
  padding-top: 100px;
  width: 100%;
  position: absolute;
  bottom: 0; }

.t-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2px 0;
  font-weight: bold;
  text-transform: uppercase; }
  .t-footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .t-footer__link {
    margin-right: 36px; }
    .t-footer__link:last-child {
      margin-right: 0; }

.b-footer {
  padding: 8px 0; }
  .b-footer__text {
    text-align: center;
    color: #727373;
    font-size: 10px;
    line-height: 12px; }

@media screen and (max-width: 1920px) {
  body {
    background-size: cover; }
  .preview-site::before {
    background-size: 700px;
    background-position: center 42%; } }

@media screen and (max-width: 1600px) {
  .preview-site::before {
    background-size: 600px;
    background-position: center 42%; } }

@media screen and (max-width: 1200px) {
  body {
    font-size: 12px; }
  .t-header__info-item {
    margin-right: 16px; }
  .t-header__langs-item {
    margin-right: 16px; }
  .t-footer__link {
    margin-right: 16px; } }

.label-modal {
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 10px; }

.input-modal {
  border: 1px solid #0090ff;
  padding: 20px 10px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 20px;
  color: #ffffff; }

.button-modal {
  padding: 20px 10px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #0090ff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff; }
  .button-modal:focus, .button-modal:active {
    outline: 0; }
  .button-modal:hover {
    background-color: transparent;
    color: #0090ff; }
  .button-modal--reverse {
    background-color: #0090ff; }
    .button-modal--reverse:hover {
      background-color: transparent;
      color: #ffffff; }

.fancybox-bg {
  background: #000000 !important; }

.accent {
  color: #0090ff; }

.reg-modal {
  border: 1px solid #0090ff;
  display: none; }
  .reg-modal.registration-modal .reg-modal__error {
    margin-top: 12px; }
  .reg-modal.complete-modal.fancybox-content {
    height: 550px; }
  .reg-modal.complete-modal .reg-modal__container-second {
    display: block;
    opacity: 1; }
  .reg-modal.succ-pass.fancybox-content {
    height: 570px; }
    .reg-modal.succ-pass.fancybox-content .reg-modal__icon-wrap {
      margin-top: 60px; }
  .reg-modal.fancybox-content {
    padding: 60px 50px 50px;
    max-width: 500px;
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65); }
  .reg-modal__container-first {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .reg-modal__container-second {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-bottom: 70px; }
  .reg-modal__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase; }
  .reg-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .reg-modal__ttu {
    text-transform: uppercase; }
  .reg-modal__icon-wrap {
    max-width: 112px;
    margin: 40px auto 60px auto; }
    .reg-modal__icon-wrap svg {
      width: 100%; }
  .reg-modal__complete-para {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    color: #0090ff;
    max-width: 352px;
    text-align: center; }
    .reg-modal__complete-para:last-child {
      margin-bottom: 0; }
  .reg-modal__container-second {
    opacity: 0;
    display: none; }
  .reg-modal__complete-mail, .reg-modal__complete-spam {
    color: #ffffff; }
  .reg-modal__error {
    text-align: center;
    margin-top: 10px;
    width: 100%; }

.d-modal {
  text-transform: uppercase;
  border: 1px solid #0090ff;
  font-weight: 400;
  display: none; }
  .d-modal.fancybox-content {
    padding: 60px 50px 50px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden; }
  .d-modal__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    text-align: center; }
  .d-modal__desc {
    margin-bottom: 50px;
    text-align: center; }
  .d-modal__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .d-modal__item {
    width: 100%;
    margin-bottom: 20px; }
    .d-modal__item:last-child {
      margin-bottom: 0; }
  .d-modal__link {
    text-align: center;
    display: block;
    width: 100%; }

.auth-modal .reg-modal__container-second,
.auth-modal .reg-modal__container-third {
  display: none; }

.auth-modal .button-restore {
  margin-top: 20px; }

.auth-modal.fancybox-content {
  height: 550px; }

.shop-modal {
  text-transform: uppercase;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  height: auto; }
  .shop-modal__number::-webkit-outer-spin-button, .shop-modal__number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .shop-modal__number[type=number] {
    -moz-appearance: textfield; }
  .shop-modal__paragraph {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
  .shop-modal__info {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 9px;
    text-align: center; }
  .shop-modal__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
  .shop-modal__less, .shop-modal__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    background-color: rgba(0, 144, 255, 0.25);
    max-width: 30px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .shop-modal__less {
    margin-right: 1px; }
  .shop-modal__more {
    margin-left: 1px; }
  .shop-modal__number {
    background-color: rgba(0, 144, 255, 0.25);
    font-size: 14px;
    max-width: 76px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: 0;
    text-align: center; }
