@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-light.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-regular.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-semibold.woff2") format("woff2"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("OpenSans"), url("../fonts/OpenSans/opensans-bold.woff2") format("woff2"); }

@font-face {
  font-family: "NexaScript";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NexaScript"), url("../fonts/NexaScript/nexa_script-regular.woff2") format("woff2"); }

::-webkit-input-placeholder {
  color: #666; }

::-moz-placeholder {
  color: #666; }

:-ms-input-placeholder {
  color: #666; }

::-ms-input-placeholder {
  color: #666; }

::placeholder {
  color: #666; }

::-moz-selection {
  background-color: #0090ff;
  color: #fff; }

::selection {
  background-color: #0090ff;
  color: #fff; }

input, textarea {
  outline: none; }
  input:focus:required:invalid, textarea:focus:required:invalid {
    border-color: red; }
  input:required:valid, textarea:required:valid {
    border-color: green; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 24px;
  overflow-x: hidden;
  letter-spacing: 1px;
  color: #ffffff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0; }

a {
  text-decoration: none;
  color: currentColor; }
  a:active {
    outline: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background-image: url("../images/src/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  background-position: center 0;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 150px;
  overflow-x: hidden; }
  body::-webkit-scrollbar {
    width: 5px; }
  body::-webkit-scrollbar-track {
    background-color: transparent; }
  body::-webkit-scrollbar-thumb {
    background-color: #0090ff; }
  body.w-content {
    height: auto;
    overflow: auto; }
    body.w-content .footer {
      position: absolute; }
    body.w-content main {
      height: auto;
      overflow-x: hidden; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.fancybox-active {
  height: 100vh !important; }

.fancybox-content::-webkit-scrollbar,
.fancybox-slide::-webkit-scrollbar {
  width: 5px !important; }

.fancybox-content::-webkit-scrollbar-track,
.fancybox-slide::-webkit-scrollbar-track {
  background-color: transparent !important; }

.fancybox-content::-webkit-scrollbar-thumb,
.fancybox-slide::-webkit-scrollbar-thumb {
  background-color: #0090ff !important; }

.select__max-height .list {
  max-height: 100px;
  overflow-y: auto; }
  .select__max-height .list::-webkit-scrollbar {
    width: 5px; }
  .select__max-height .list::-webkit-scrollbar-track {
    background-color: transparent; }
  .select__max-height .list::-webkit-scrollbar-thumb {
    background-color: #0090ff; }

.preview-site {
  height: 100vh;
  position: relative; }
  .preview-site::before {
    content: '';
    background-image: url("../images/logo.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center 42%;
    z-index: -1;
    background-repeat: no-repeat; }
  .preview-site .footer {
    position: absolute;
    padding-top: 0; }
  .preview-site main {
    height: auto; }

.hidden {
  display: none; }

.container {
  padding: 0 20em;
  width: 100%;
  margin: 0 auto; }

.container-1170 {
  max-width: 1170px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container-1170 {
      max-width: 960px; } }
  @media screen and (max-width: 992px) {
    .container-1170 {
      max-width: 720px; } }

.hover-accent {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .hover-accent:hover {
    color: #0090ff; }

.t-header {
  border-bottom: 1px solid #0090ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  margin-bottom: 22px;
  font-weight: bold; }
  .t-header__logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 196px; }
  .t-header__logo-img {
    width: 100%; }
  .t-header__info-server {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__status-text {
    color: #0090ff; }
  .t-header__online-text {
    color: #0090ff; }
  .t-header__info-fraction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__info-item {
    margin-right: 36px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
    .t-header__info-item:last-child {
      margin-right: 0; }
  .t-header__blue-text {
    color: #1ebfef;
    font-weight: bold; }
  .t-header__red-text {
    font-weight: bold;
    color: #ee7d53; }
  .t-header__langs-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-header__langs-item {
    margin-right: 20px; }
    .t-header__langs-item .active {
      color: #0090ff; }
    .t-header__langs-item:last-child {
      margin-right: 0; }

.b-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .b-header__socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .b-header__socials-item {
    margin-right: 10px; }
    .b-header__socials-item:last-child {
      margin-right: 0; }
  .b-header__socials-link {
    border: 2px solid #ffffff;
    width: 31px;
    height: 31px;
    display: block;
    padding: 0 6px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .b-header__socials-link svg {
      height: 100%;
      width: 100%;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .b-header__socials-link:hover {
      border: 2px solid #0090ff; }
      .b-header__socials-link:hover svg {
        fill: #0090ff; }
  .b-header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .b-header__link {
    margin-right: 24px;
    font-weight: bold;
    text-transform: uppercase;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 31px; }
    .b-header__link:last-child {
      margin-right: 0; }

main {
  height: 900px; }

.footer {
  margin-right: auto;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(23%, black), to(rgba(0, 212, 255, 0)));
  background: -o-linear-gradient(bottom, black 23%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(0deg, black 23%, rgba(0, 212, 255, 0) 100%);
  padding-top: 70px;
  width: 100%;
  position: absolute;
  bottom: 0; }

.t-footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2px 0;
  font-weight: bold;
  text-transform: uppercase; }
  .t-footer .container,
  .t-footer .container-1170 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .t-footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .t-footer__link {
    margin-right: 36px; }
    .t-footer__link:last-child {
      margin-right: 0; }

.b-footer {
  padding: 8px 0; }
  .b-footer__text {
    text-align: center;
    color: #727373;
    font-size: 10px;
    line-height: 12px; }

@media screen and (max-width: 1920px) {
  body {
    background-size: cover; }
  .preview-site::before {
    background-size: 700px;
    background-position: center 42%; } }

@media screen and (max-width: 1600px) {
  .preview-site::before {
    background-size: 600px;
    background-position: center 42%; } }

@media screen and (max-width: 1200px) {
  body {
    font-size: 12px; }
  .t-header__info-item {
    margin-right: 16px; }
  .t-header__langs-item {
    margin-right: 16px; }
  .t-footer__link {
    margin-right: 16px; } }

.label-modal {
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 10px; }

.input-modal {
  border: 1px solid #0090ff;
  padding: 20px 10px;
  width: 100%;
  background-color: #000000;
  margin-bottom: 20px;
  color: #ffffff; }

.button-modal {
  padding: 20px 10px;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #0090ff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: transparent;
  color: #ffffff; }
  .button-modal:focus, .button-modal:active {
    outline: 0; }
  .button-modal:hover {
    background-color: transparent;
    color: #0090ff; }
  .button-modal--reverse {
    background-color: #0090ff; }
    .button-modal--reverse:hover {
      background-color: transparent;
      color: #ffffff; }
  .button-modal__gift-friend {
    margin-bottom: 20px; }

.fancybox-bg {
  background: #000000 !important; }

.accent {
  color: #0090ff; }

.reg-modal {
  border: 1px solid #0090ff;
  display: none; }
  .reg-modal.registration-modal .reg-modal__error {
    margin-top: 12px; }
  .reg-modal.complete-modal.fancybox-content {
    height: 550px; }
  .reg-modal.complete-modal .reg-modal__container-second {
    display: block;
    opacity: 1; }
  .reg-modal.succ-pass.fancybox-content {
    height: 570px; }
    .reg-modal.succ-pass.fancybox-content .reg-modal__icon-wrap {
      margin-top: 60px; }
  .reg-modal.fancybox-content {
    padding: 60px 50px 0;
    max-width: 500px;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.65); }
  .reg-modal__container-first {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .reg-modal__container-second {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-bottom: 4px; }
  .reg-modal__title {
    font-size: 36px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase; }
  .reg-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .reg-modal__ttu {
    text-transform: uppercase; }
  .reg-modal__icon-wrap {
    max-width: 112px;
    margin: 40px auto 60px auto; }
    .reg-modal__icon-wrap svg {
      width: 100%; }
  .reg-modal__complete-para {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 28px;
    font-weight: 300;
    margin-right: auto;
    margin-left: auto;
    color: #0090ff;
    max-width: 352px;
    text-align: center; }
    .reg-modal__complete-para:last-child {
      margin-bottom: 0; }
  .reg-modal__container-second {
    opacity: 0;
    display: none; }
  .reg-modal__complete-mail, .reg-modal__complete-spam {
    color: #ffffff; }
  .reg-modal__error {
    text-align: center;
    margin-top: 10px;
    width: 100%; }

.d-modal {
  text-transform: uppercase;
  border: 1px solid #0090ff;
  font-weight: 400;
  display: none; }
  .d-modal.fancybox-content {
    padding: 60px 50px 50px;
    max-width: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: hidden; }
  .d-modal__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: bold;
    text-align: center; }
  .d-modal__desc {
    margin-bottom: 50px;
    text-align: center; }
  .d-modal__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .d-modal__item {
    width: 100%;
    margin-bottom: 20px; }
    .d-modal__item:last-child {
      margin-bottom: 0; }
  .d-modal__link {
    text-align: center;
    display: block;
    width: 100%; }

.auth-modal .reg-modal__container-second,
.auth-modal .reg-modal__container-third {
  display: none; }

.auth-modal .button-restore {
  margin-top: 20px; }

.auth-modal.fancybox-content {
  height: 550px; }

.shop-modal {
  text-transform: uppercase;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif; }
  .shop-modal.fancybox-content {
    max-height: 716px;
    height: 100%; }
  .shop-modal .reg-modal__error {
    margin-top: 6px;
    text-transform: initial; }
  .shop-modal .button-modal {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif; }
  .shop-modal .list {
    -webkit-transform: scale(0) translateY(-21px);
        -ms-transform: scale(0) translateY(-21px);
            transform: scale(0) translateY(-21px); }
  .shop-modal__number::-webkit-outer-spin-button, .shop-modal__number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .shop-modal__number[type=number] {
    -moz-appearance: textfield; }
  .shop-modal__paragraph {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 20px; }
  .shop-modal__info {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 9px;
    text-align: center; }
  .shop-modal__quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px; }
  .shop-modal__less, .shop-modal__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    background-color: rgba(0, 144, 255, 0.25);
    max-width: 30px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .shop-modal__less {
    margin-right: 1px; }
  .shop-modal__more {
    margin-left: 1px; }
  .shop-modal__number {
    background-color: rgba(0, 144, 255, 0.25);
    font-size: 14px;
    max-width: 76px;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    border: 0;
    text-align: center;
    line-height: 14px; }
  .shop-modal__succ-name {
    color: #ffffff; }
  .shop-modal__char-select {
    background: #000000;
    border-radius: 0;
    border: 1px solid #0090ff;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #0090ff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .shop-modal__char-select.open {
      border: 1px solid #0090ff;
      color: #fff; }
    .shop-modal__char-select:focus, .shop-modal__char-select:active {
      border: 1px solid #0090ff; }
    .shop-modal__char-select:hover {
      border: 1px solid #0090ff; }
    .shop-modal__char-select .list {
      width: 100%;
      background: #000000;
      border-radius: 0;
      margin-top: 1px;
      left: -1px;
      width: calc(100% + 2px);
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .shop-modal__char-select .option {
      color: #ffffff;
      border: 1px solid #0090ff;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      height: 58px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .shop-modal__char-select .option.selected, .shop-modal__char-select .option.focus, .shop-modal__char-select .option.selected.focus, .shop-modal__char-select .option:hover {
        background: #000000;
        font-weight: 400; }
      .shop-modal__char-select .option:hover {
        color: #0090ff; }

.reg-modal.succ-refill {
  height: 570px; }

#canvas {
  border: 1px solid red; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  margin-top: 21px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden; }

.l-content {
  width: 63%;
  padding: 6px 6px 6px 0;
  border: 1px solid #0090ff;
  border-left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative; }
  .l-content__item {
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s; }

.content-pl {
  padding-left: 20em; }

.content-pr {
  padding-right: 20em; }

.r-content {
  width: 37%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative; }

.l-content__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.l-content__bg {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 100%; }

.profile {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .profile__head {
    border-bottom: 1px solid #0090ff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-weight: bold;
    padding: 12px 0; }
  .profile__desc {
    line-height: 28px;
    max-width: 500px;
    margin-top: 12px;
    margin-bottom: 46px; }
  .profile__info-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 78px; }
  .profile__info-name {
    margin-right: 110px; }
  .profile__name-item {
    margin-bottom: 30px; }
    .profile__name-item:last-child {
      margin-bottom: 0; }
  .profile__safety-head {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid #0090ff;
    padding-bottom: 12px; }
  .profile__safety-desc {
    margin-top: 12px;
    max-width: 708px;
    line-height: 28px;
    padding-bottom: 12px; }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.p-menu {
  margin-left: 60px;
  font-weight: 300; }
  .p-menu__link, .p-menu__desc {
    display: block;
    text-align: right;
    margin-bottom: 16px;
    line-height: 14px; }
  .p-menu__desc {
    font-weight: bold;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif; }
  .p-menu__link {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    cursor: pointer;
    border: 1px dashed #0090ff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border-right: 0;
    line-height: 14px; }
    .p-menu__link.active {
      color: #0090ff;
      border: 1px solid #0090ff;
      border-right: 0; }
    .p-menu__link:hover {
      color: #0090ff; }
    .p-menu__link:last-child {
      margin-bottom: 0; }
  .p-menu__value-add {
    background: transparent;
    border: 1px solid #0090ff;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    max-width: 126px;
    font-weight: 300;
    padding: 0 10px; }
  .p-menu__multi-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px; }
    .p-menu__multi-items .p-menu__desc,
    .p-menu__multi-items .p-menu__link {
      margin-bottom: 0; }
    .p-menu__multi-items .p-menu__link {
      width: 100%; }
  .p-menu__column-items {
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .p-menu__column-items .p-menu__link {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 126px;
      text-align: center;
      display: block;
      padding-right: 12px;
      border-right: 1px dashed #0090ff; }
      .p-menu__column-items .p-menu__link:first-child {
        margin-bottom: 16px; }

.slider {
  display: block;
  padding: 6px 0px 6px 6px;
  border: 1px solid #0090ff;
  margin-bottom: 16px;
  border-right: 0; }
  .slider__container {
    min-height: 330px;
    max-height: 340px; }
  .slider__slide {
    background-size: cover; }
  .slider__info-wrap {
    height: 100%; }
  .slider__info {
    padding: 0 18px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    height: 100%;
    max-width: 300px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .slider__info::after {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      content: '';
      height: 100%;
      width: 2px;
      right: -6px;
      top: 0; }
  .slider__info-title {
    padding: 10px 20px;
    border-bottom: 1px dashed #0090ff;
    text-align: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-weight: bold; }
  .slider__info-desc {
    font-family: "NexaScript", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    text-transform: initial;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    max-width: 262px;
    margin: 26px auto; }
  .slider__link {
    padding: 10px 20px;
    border: 1px dashed #0090ff;
    font-weight: 100;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin: 0 auto 20px;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 14px;
    line-height: 15px; }
    .slider__link:hover {
      border: 1px solid #0090ff; }
  .slider .swiper-container-vertical > .swiper-pagination-bullets {
    right: auto;
    left: 10px; }
    .slider .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet-active {
      background-color: #0090ff; }
    .slider .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
      border: 1px solid #0090ff; }

@media screen and (max-width: 4000px) {
  .container {
    padding: 0 75em; }
  .content-pr {
    padding-right: 75em; }
  .content-pl {
    padding-left: 75em; } }

@media screen and (max-width: 3800px) {
  .container {
    padding: 0 70em; }
  .content-pr {
    padding-right: 70em; }
  .content-pl {
    padding-left: 70em; } }

@media screen and (max-width: 3600px) {
  .container {
    padding: 0 65em; }
  .content-pr {
    padding-right: 65em; }
  .content-pl {
    padding-left: 65em; } }

@media screen and (max-width: 3400px) {
  .container {
    padding: 0 60em; }
  .content-pr {
    padding-right: 60em; }
  .content-pl {
    padding-left: 60em; } }

@media screen and (max-width: 3200px) {
  .container {
    padding: 0 55em; }
  .content-pr {
    padding-right: 55em; }
  .content-pl {
    padding-left: 55em; } }

@media screen and (max-width: 3000px) {
  .container {
    padding: 0 50em; }
  .content-pr {
    padding-right: 50em; }
  .content-pl {
    padding-left: 50em; } }

@media screen and (max-width: 2800px) {
  .container {
    padding: 0 45em; }
  .content-pr {
    padding-right: 45em; }
  .content-pl {
    padding-left: 45em; } }

@media screen and (max-width: 2600px) {
  .container {
    padding: 0 40em; }
  .content-pr {
    padding-right: 40em; }
  .content-pl {
    padding-left: 40em; } }

@media screen and (max-width: 2400px) {
  .container {
    padding: 0 28em; }
  .content-pr {
    padding-right: 28em; }
  .content-pl {
    padding-left: 28em; } }

@media screen and (max-width: 1920px) {
  .container {
    padding: 0 20em; }
  .content-pr {
    padding-right: 20em; }
  .content-pl {
    padding-left: 20em; } }

@media screen and (max-width: 1600px) {
  .container {
    padding: 0 14em; }
  .content-pr {
    padding-right: 14em; }
  .content-pl {
    padding-left: 14em; } }

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 8em; }
  .content-pr {
    padding-right: 8em; }
  .content-pl {
    padding-left: 8em; } }

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 4em; }
  .content-pr {
    padding-right: 4em; }
  .content-pl {
    padding-left: 4em; } }

.chars__banner-wrap {
  height: 126px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
  background-color: #000000; }

.chars__banner {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1600px;
  margin-left: auto;
  -o-object-position: right;
     object-position: right; }

.chars__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  text-transform: none;
  height: 50px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px; }

.chars__first-row {
  background-color: transparent;
  margin-bottom: 22px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-transform: uppercase; }

.chars__column-name {
  width: 27%;
  text-align: left; }

.chars__column-race {
  width: 18%;
  text-align: center; }

.chars__column-class {
  width: 18%;
  text-align: center; }

.chars__column-lvl {
  width: 25%;
  text-align: center; }

.chars__column-status {
  width: 12%;
  text-align: right; }

.chars__status--on {
  color: #0090ff; }

.chars__race-ico, .chars__class-ico {
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 100%; }

.race-asmo {
  background-image: url("../images/classes/Asmodian.png"); }

.race-elyos {
  background-image: url("../images/classes/Elyos.png"); }

.class-chanter {
  background-image: url("../images/classes/Chanter.png"); }

.class-assa {
  background-image: url("../images/classes/Assassin.png"); }

.class-cleric {
  background-image: url("../images/classes/Cleric.png"); }

.class-glad {
  background-image: url("../images/classes/Gladiator.png"); }

.class-mage {
  background-image: url("../images/classes/Mage.png"); }

.class-priest {
  background-image: url("../images/classes/Priest.png"); }

.class-ranger {
  background-image: url("../images/classes/Ranger.png"); }

.class-scout {
  background-image: url("../images/classes/Scout.png"); }

.class-sorc {
  background-image: url("../images/classes/Sorcerer.png"); }

.class-spirit {
  background-image: url("../images/classes/Spiritmaster.png"); }

.class-templar {
  background-image: url("../images/classes/Templar.png"); }

.class-war {
  background-image: url("../images/classes/Warrior.png"); }

.gifts .chars__banner-wrap {
  background-color: #ffffff; }

.gifts .list {
  bottom: 100%;
  top: auto;
  -webkit-transform: scale(0.75) translateY(70px);
      -ms-transform: scale(0.75) translateY(70px);
          transform: scale(0.75) translateY(70px); }

.gifts__desc {
  text-transform: none;
  line-height: 28px;
  margin-bottom: 32px;
  text-transform: uppercase; }

.gifts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding: 6px 20px 6px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  margin-bottom: 20px; }

.gifts__gift-status, .gifts__gift-value {
  border: 1px solid #ffffff;
  margin-right: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  width: 100%; }

.gifts__gift-status {
  border-left: 0; }

.gifts__gift-value {
  max-width: 100px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.gifts__gift-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  width: 100%;
  max-width: 130px; }

.gifts__gift-item {
  margin-right: 10px;
  width: 34px;
  height: 34px; }
  .gifts__gift-item:last-child {
    margin-right: 0; }

.gifts__gift-item-img {
  width: 100%;
  height: 100%; }

.gifts__chars {
  background: #000000;
  border-radius: 0;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 224px; }
  .gifts__chars.open {
    border: 1px solid #0090ff;
    color: #fff; }
  .gifts__chars:focus, .gifts__chars:active {
    border: 1px solid #0090ff; }
  .gifts__chars:hover {
    border: 1px solid #0090ff; }
  .gifts__chars .list {
    width: 100%;
    background: #000000;
    border-radius: 0;
    margin-top: 1px;
    left: -1px;
    width: calc(100% + 2px);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .gifts__chars .option {
    color: #ffffff;
    border: 1px solid #0090ff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    height: 38px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .gifts__chars .option.selected, .gifts__chars .option.focus, .gifts__chars .option.selected.focus, .gifts__chars .option:hover {
      background: #000000;
      font-weight: 400; }
    .gifts__chars .option:hover {
      color: #0090ff; }

.gifts__gift--active {
  border-color: #0090ff; }

.rating {
  border-top: 1px solid #0090ff;
  padding: 6px 0;
  line-height: normal;
  width: 100%;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  display: none;
  border-bottom: 1px solid #0090ff; }
  .rating__wrap {
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  .rating__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 14px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-bottom: 1px solid #0090ff; }
  .rating__table {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
    overflow-y: scroll;
    height: 56vh; }
    .rating__table::-webkit-scrollbar {
      width: 5px; }
    .rating__table::-webkit-scrollbar-track {
      background-color: transparent; }
    .rating__table::-webkit-scrollbar-thumb {
      background-color: #0090ff; }
    @media screen and (max-width: 4000px) {
      .rating__table {
        height: 80vh; } }
    @media screen and (max-width: 3800px) {
      .rating__table {
        height: 78vh; } }
    @media screen and (max-width: 3600px) {
      .rating__table {
        height: 76vh; } }
    @media screen and (max-width: 3400px) {
      .rating__table {
        height: 74vh; } }
    @media screen and (max-width: 3200px) {
      .rating__table {
        height: 72vh; } }
    @media screen and (max-width: 3000px) {
      .rating__table {
        height: 70vh; } }
    @media screen and (max-width: 2800px) {
      .rating__table {
        height: 68vh; } }
    @media screen and (max-width: 2600px) {
      .rating__table {
        height: 66vh; } }
    @media screen and (max-width: 2400px) {
      .rating__table {
        height: 64vh; } }
    @media screen and (max-width: 2200px) {
      .rating__table {
        height: 61vh; } }
    @media screen and (max-width: 1920px) {
      .rating__table {
        height: 56vh; } }
    @media screen and (max-width: 1800px) {
      .rating__table {
        height: 52vh; } }
    @media screen and (max-width: 1600px) {
      .rating__table {
        height: 46vh; } }
    @media screen and (max-width: 1400px) {
      .rating__table {
        height: 40vh; } }
  .rating__link-item {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
    .rating__link-item.active {
      color: #0090ff; }
  .rating__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-weight: 500;
    text-align: center;
    height: 50px;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .rating__first-row {
    background-color: transparent;
    padding: 38px 0;
    height: auto;
    line-height: 14px;
    margin-bottom: 0; }
  .rating__column-number {
    width: 8%;
    text-align: left; }
  .rating__column-name {
    width: 16%; }
  .rating__column-race {
    width: 12%; }
  .rating__column-class {
    width: 16%; }
  .rating__column-ap {
    width: 14%; }
  .rating__column-kills {
    width: 10%; }
  .rating__column-lvl {
    width: 24%;
    text-align: right; }

.rating-class--glad, .rating-class--guard {
  color: #1ebfef; }

.rating-class--ranger, .rating-class--assa {
  color: #8cffae; }

.rating-class--spirit, .rating-class--sorc {
  color: #e48fff; }

.rating-class--clerik, .rating-class--chanter {
  color: #e5e1b9; }

.rating-race--elyos {
  color: #1ebfef; }

.rating-race--asmo {
  color: #ee7d53; }

.change-pass__send-code,
.change-email__send-code {
  margin-bottom: 20px; }

.change-pass .reg-modal__error,
.change-email .reg-modal__error {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 14px; }

.change-pass .reg-modal__ttu,
.change-email .reg-modal__ttu {
  text-transform: uppercase; }
