// USER VARIABLES SECTION

$accent: #78B77E // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #143026 // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$raleway: 'Raleway', -apple-system, BlinkMacSystemFont, Arial, sans-serif // Montserrat Font Family

$color-brand: #3023ae
$color-brand-secondary: #c86dd7

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 20px
// $gutter: $grid-gutter-width

// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
    @font-face
        font-family: $fname
        font-style: $fstyle
        font-weight: $fweight
        font-display: swap // Uncomment to initially display system fonts
        src: local($fname), url($furl) format('woff2')

@include font('Raleway', normal, 400, '../fonts/ralewayregular.woff2')
@include font('Raleway', normal, 500, '../fonts/ralewaymedium.woff2')
@include font('Raleway', normal, 600, '../fonts/ralewaysemibold.woff2')
@include font('Raleway', normal, 700, '../fonts/ralewaybold.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
    color: #666

::selection
    background-color: $accent
    color: #fff

input, textarea
    outline: none
    &:focus:required:invalid
        border-color: red
    &:required:valid
        border-color: green

body
    font-family: $raleway
    font-size: $fontsize
    min-width: 300px
    position: relative
    line-height: 24px
    overflow-x: hidden
    color: $textcolor
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

a
    text-decoration: none
    color: currentColor

    &:active
        outline: none

p
    margin: 0

h1,h2,h3,h4,h5
    margin: 0

ul
    list-style: none
    padding: 0
    margin: 0
